.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
  }
  
  .login-form-error {
    margin-bottom: 16px;
    color: #cb4c4e;
  }
  
  .login-form-input-group {
    width: 100%;
    margin-bottom: 16px;
  }
  .login-form-input {
    width: 100%;
    height: 2.5rem;
    font-size: 1.25rem;
    padding: 5px;
  }
  
  .login-form-input::placeholder {
    color: var(--text-secondary);
  }
  .login-form-input:focus {
    outline: none;
  }
  .login-form-submit {
    width: 100%;
    height: 2.5rem;
    border: none;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.25rem;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .login-form-submit:hover {
    cursor: pointer;
    background-color: var(--background-primary);
    color: var(--primary);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--primary);
  }
  .login-form-register {
      color: var(--primary);
      cursor: pointer;
      margin-left: 4px;
  }
  .login-form-register:hover {
      text-decoration: underline;
  }