.book-card {
    height: 400px;
    width: 300px;
    background-color: var(--background-secondary);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.book-card-cover {
    height: 45%;
}

.book-card-info {
    height: 50%;
    width: 100%;
    margin: 0;
}

.book-card-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
}

.book-card-author {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
}
